<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <h1 style="color: rgb(131, 238, 169); text-align: center;">📚 Book Library</h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- ✅ เข้า index ผ่าน / เท่านั้น -->
          <a class="nav-link" href="/">Home</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/library">library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addbook">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createCode">CreateCode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="logoutBtn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
